/* @font-face {
    font-family: "Open Sans";
    src:url();
    font-weight: 400;
    font-style: normal;
   }
   @font-face {
    font-family: "Open Sans";
    src:url);
    font-weight:700;
    font-style: normal;
   } */
   @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-bold.ttf") format("truetype"),
    url("../fonts/OpenSans-bold.woff") format("woff"),
    url("../fonts/OpenSans-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  html{
    height: 100%;
    font-size: 15px;
  }
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    padding: 0;
    margin: 0;
    color: #000000;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .fullwrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header{
    min-height: 100vh;
    background-image: url(../images/football_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 5.8vh;
    color: #ffffff;
    
  }
   .header:after{
    content:"";
    background-color:#0a0e34;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.9;
  } 
  .container{
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    margin: auto;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
  img{
    display: block;
  }
  /* ЛОГОТИП */
  .logo{
    display: flex;
    justify-content: center;
  }
  .logo_icon_text{
    width: 41.56vw;
    height: 6.34vh;
    fill: #ffffff;
    margin: 0 auto;
    
  }
  /* 1 ЗАГОЛОВОК */
  .intro {
    margin-top: 23.9vh;
  }
  .intro-title{
    font-size: 8.75vw;
    line-height: normal;
    letter-spacing: 1.4px; 
  }
  .intro-title-wrap{
    display: block;
    margin-left: 13.75vw; 
  }
  .download_links{
    margin-top: 18.5vh;
  }

  .download_link_app {
    display: flex;
    align-items: center;
    width: 87.5vw;
    font-size: 8px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 35px;
    padding: 3px 0 3px 33%;
    color: #ffffff;
    background-color: #5e42b0;
  }
  .download_link_app:nth-child(n + 2) {
    margin-top: 2.6vh;
  }
  .download_link_app:hover{
    background-color: #5b35cc;
    transition-duration: 1s;
   }
  .link_logo {
    width: 25px;
    height: 35px;
    fill: #ffffff;
  }
  .wrapper_link_text{
    padding-top: 3px;
    padding-left: 8px;
  }
  .link_text{
    display: block;
  }
  .link_text:nth-child(n + 2) {
    font-weight: bold;
    margin-top: 3px;
  }
  
  
  
  
    
/* 2 блок */ 
/* светло серый цвет */
 h2, h3, h4, h5, h6{
    color: #e7e7e7;
  }
  .athlet,
  .player{
    position: relative;
    padding-top: 4.4vh;
  }
  .athhlet-title,
  .player-title{
    margin-bottom: 3.35vh;
  }
  .athlet-title-text,
  .player-title-text{
    font-size: 15.63vw;
    line-height: 20px;
  }
  .athlet-footballer-image{
    display: flex;
    justify-content: center;
  }
  .footballer-image{
    width: 60vw;
    height: 49.47vh;
  }
  .features{
    padding-bottom: 9.33vh;
  }
  .athlets .features:nth-child(2){
    padding-top: 4.93vh;
  }
  .features:nth-child(3){
    padding-top: 10.56vh;
    background-color: #f5f4f9;
  }
  .features:nth-child(4){
    padding-top: 10.56vh;
    background-color: #5e42b0;
  }
  
  .players .features:nth-child(4){
    background-color: #090c35;
  }
  .feature-wrapper{
    display: flex;
  }
  .feature .feature-wrapper:nth-child(3){
    background-color: red;
    margin-top: 4.93vh;
  }
  .feature-numbering{
    margin-top: 3.5px;
  } 
  .numbering{
    font-size: 4.38vw;
    font-weight: bold;
  }
  .numbering::after{
    content: "";
    display: block;
    width: 5vw;
    height: 4px;
    border-radius: 1.5px;
    margin-top: -2.2px;
    background-color: #5e42b0;
  }
  .small-numbering::after{
    width: 4.7vw;
  }
  .feature-description{
    margin-left: 3.13vw;
  }
  .feature-title{
    font-size: 7.19vw;
    line-height: 34.49px;
    color: #c1c1c1;
  }
  .feature-description-text{
    margin-top: 4.75vh;
    line-height: 28px;

  }
  .feature-text{
    line-height: 1.2;
  }


  .features:nth-child(4) .feature-text{
    color: #ffffff;
  }
  .athlets .features:nth-child(4) .numbering::after,
  .players .features:nth-child(4) .numbering::after{
    background-color: #fff;
  }
  .players .features:nth-child(4) .numbering{
    color: #8765dd;
  }




  /* классы для 3 секции */
  .feedback-article-wrapper{
    display: flex;
    flex-direction: column;
  } 
  .feedback-bg{
    height: auto;
    width: 100%;
  }
  .active,
  .contact,
  .work{
    margin-bottom: 13.2vh;
  } 
  .number-square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-top: -58px;
    margin-left: 20px;
    background-color: #5e42b0;
    color: #ffffff;
  }
  .number-square .numbering{
    font-size: 14px;
  }
  .feedback .numbering::after{
    width: 16px;
    height: 4px;
    margin-top: 0;
    opacity: 0.3;
    background-color: #ffffff;
  }
  .feedback .small-numbering::after{
    width: 16px;
  }
  .feedback-description{
    padding-top: 3.7vh;
  }
  .feedback-title{
    font-size: 8.75vw;
    line-height: 60px;
  }
  .feedback-text{
    font-size: 5vw;
    line-height: 28px;
    margin-top: 4.05vh;
  }

/* footer */
  .footer{
    min-height: 100vh;
    background-image: url(../images/game_767.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 17.43vh;
    padding-bottom: 1.76vh;
    color: #ffffff;
      
    }
  .footer:after{
    content:"";
    background-color:#0a0e34;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.9;
    } 
  .footer-logo-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5vw;
    height: 13.03vh;
    margin: 0 auto;
    background: rgb(119,86,215);
    background: linear-gradient(180deg, rgba(119,86,215,1) 35%, rgba(80,55,154,1) 100%);
    border-radius: 20px;
}

  .footer-logo-svg{
    width: 18.75vw;
    height: 8.8vh;
    fill: #ffffff;
}
  .footer-description{
    margin-top: 10.39vh;
    text-align: center;
  }
  .footer-title{
    font-size: 10vw;
  }
  .footer-text{
    font-size: 4.38vw;
    margin-top: 2.29vh;
    color: #9b8ec1;
  }
  .footer .download_links{
    margin-top: 13.38vh;
  }
  .footer .logo{
    margin-top: 14.44vh;
  }



  /* width 641> */
  @media (min-width:641px) and (max-width:960px){
    .header{
      padding-top: 4.17vh;
    }
    .container{
      min-width: 641px;
      max-width: 960px;
      padding-left: 4.3vw;
      padding-right: 4.3vw;
    }
      /* ЛОГОТИП */
    .logo_icon_text{
      width: 26.69vw;
      height: 5.83vh;
    }
    /* 1 ЗАГОЛОВОК */
    .intro {
      margin-top: 18.85vh;
    }
    .intro-title{
      font-size: 8.33vw;
      letter-spacing: 3.2px;
    }
    .intro-title-wrap{
      margin-left: 13.67vw;
    }
    /* кнопки */
    .download_links{
      display: flex;
      justify-content: center;
      margin-top: 32.5vh;
    }
    .download_link_app {
      width: 40.49vw;
      font-size: 14px;
      border-radius: 45px;
      box-shadow: 8px 13.9px 24px 0 #0a0e34;
      padding: 16px 0 16px 8%;
    }
    .download_link_app:nth-child(n + 2) {
      margin-top: 0;
      margin-left: 3.91vw;
    }
    .link_logo {
      width: 45px;
      height: 50px;
    }
    .wrapper_link_text{
      padding-top: 5px;
      padding-left: 22px;
    }
    .link_text:nth-child(n + 2) {
      margin-top: 0.05vh;
    }
    /* 2 блок */ 
    .athlet,
    .player{
      padding-top: 8.85vh;
    }
    .athlet-footballer-image{
      position: absolute;
      top: 9.79vh;
      left: -21.09vw;
    }
    .footballer-image{
      width: 64.71vw;
      height: 72.81vh;
    }
    .athhlet-title{
      /* padding-left: 33.8%; */
      margin-left: 33.85vw;
      margin-bottom: 0;
    }
    .athlet-title-text,
    .player-title-text{
      font-size: 10.42vw;
    }
    .athlets .features:nth-child(2){
      padding-top: 6.35vh;
    }
    .features{
      padding-bottom: 3.85vh;
    }
    .features:nth-child(3){
      padding-top: 4.58vh;
    }
    .features:nth-child(4){
      padding-top: 4.58vh;
    }
    .athlets .feature{
      padding-left: 33.85vw;
      /* padding-left: 260px; */
    }
    feature-numbering{
      margin-top: 0;
    } 
    .numbering{
      font-size: 2.34vw;
    }
    .numbering::after{
      width: 2.73vw;
      height: 5px;
      margin-top: 0;
      border-radius: 2px;
    }
    .small-numbering::after{
      width: 2.6vw;
    }
    .feature-description{
      margin-left: 1.3vw;
    }
    .feature-title{
      font-size: 4.17vw;
    }
    .feature-description-text{
      margin-top: 3.23vh;
    }
    .feature-text{
      line-height: 1.75;
      letter-spacing: 0.8px;
    }



    /* класыы для 2 секции */
    .player-title{
      padding-bottom: 61px;
    } 
    .player-basketballer-image{
      position: absolute;
      top: 4.06vh;
      right: 0;
    }
    .basketballer-image{
      width: 56.64vw;
      height: 58.85vh;
    }
    .players .feature{
      padding-right: 321px;
    }

    /* классы для 3 секции */

    .active,
    .contact,
    .work{
      margin-bottom: 10.83vh;
    }
    .number-square{
      width: 116px;
      height: 116px;
      margin-top: -90px;
    }
    .number-square .numbering{
      font-size: 24px;
    }
    .feedback .numbering::after{
      width: 28px;
      height: 5px;
    }
    .feedback .small-numbering::after{
      width: 25px;
    }
    .feedback-description{
      padding-top: 5.63vh;
    }
    .feedback-title{
      font-size: 10.42vw;
    }
    .feedback-text{
      font-size: 3.13vw;
      line-height: 1.17;
      margin-top: 3.85vh;
    }



    /* footer */
    .footer{
      padding-top: 13.13vh;
      padding-bottom: 2.5vh; 
      }

    .footer-logo-top{
      width: 16.93vw;
      height: 14.27vh;
  }

    .footer-logo-svg{
      width: 13.67vw;
      height: 9.06vh;
  }
    .footer-description{
      margin-top: 8.54vh;
    }
    .footer-title{
      font-size: 10.42vw;
      letter-spacing: 2px;
    }
    .footer-text{
      font-size: 4.69vw;
      margin-top: 2.81vh;
      line-height: 1.67;
    }
    .footer .download_links{
      margin-top: 29.9vh;

    }
    .footer .logo{
      margin-top: 5.73vh;
    }
  }



  /* width 961> */
  @media (min-width:961px){
    .header{
      padding-top: 4.6vh;
    }
    .container{
      padding-right: 10.2vw;
      padding-left: 10.2vw;
      
    }
      /* ЛОГОТИП */
    .logo_icon_text{
      width: 9.9vw;
      height: 5.42vh;
    }
    /* 1 ЗАГОЛОВОК */
    .intro {
      margin-top: 30.7vh;
    }
    .intro-title{
      font-size: 4.7vw;
      line-height: 1.11;
    }
    .intro-title-wrap{
      float: right;
    }
    /* кнопки */
    .download_links{
      display: flex;
      justify-content: center;
      margin-top: 23.13vh;
    }

    .download_link_app {
      width: 16.2vw;
      font-size: 14px;
      border-radius: 45px;
      box-shadow: 8px 13.9px 24px 0 #0a0e34;
      padding: 12px 0 12px 3%;
    }
    .download_link_app:nth-child(n + 2) {
      margin-top: 0;
      margin-left: 2.61vw;
    }
    .link_logo {
      width: 50px;
      height: 55px;
    }
    .wrapper_link_text{
      padding-top: 5px;
      padding-left: 22px;
    }
    .link_text:nth-child(n + 2) {
      margin-top: 0.05vh;
    }


    .athlet,
    .player{
      position: relative;
      padding-top: 11.98vh;
    }
    .athlets .athlet-content,
    .athlets .feature{
      margin-left: 50%;
    }
    .athlet-footballer-image{
      position: absolute;
      top: 2.81vh;
      left: 17.82vw; 
    }
    .footballer-image{
      width: 29.48vw;
      height: 94.58vh;
    }
    .athhlet-title,
    .player-title{
      margin-bottom: 11.25vh;
    }
    .athlet-title-text, .player-title-text{
      font-size: 4.08vw;
    }
    .features{
      padding-bottom: 5.63vh
    }
    .features:nth-child(3),
    .features:nth-child(4){
      padding-top: 6.25vh;
    }
    .feature-numbering{
      margin-top: 0;
    } 
    .numbering{
      font-size: 0.92vw;
    }
    .numbering::after{
      width: 1.04vw;
      height: 5px;
      border-radius: 1.5px;
      margin-top: 1.7px;
    }
    .athlets .small-numbering::after{
      width: 0.98vw;
    }
    .feature-description{
      margin-left: 0.52vw;
    }
    .feature-title{
      font-size: 1.88vw;
    }
    .feature-description-text{
      width: 35.65vw;
    }
    .feature-text{
      line-height: 1.2;
    }
    /* класыы для 2 секции */

    .players .feature{
      width: 50%;
    }
    .players .features:nth-child(3){
      padding-bottom: 8.65vh;
    }
    .players .features:nth-child(3)  .feature-description-text{
      margin-top: 4.06vh;
    }
    .player .container{
      position: relative;
    }
    .player-basketballer-image{
      position: absolute;
      top: 2.5vh;
      right: 6.51vw; 
    }
    .basketballer-image{
      width: 51.61vw;
      height: 88.59vh;
    }
    
    /* классы для 3 секции */
    .active,
    .contact,
    .work{
      margin-bottom: 0;
    }
    .feedback .container{
      padding-left: 6.56vw;
      padding-right: 11.25vw;
    }

    .feedback-article-wrapper{
      position: relative;
      display: flex;
      flex-direction: row;
    } 
    .contact .feedback-article-wrapper{
      flex-direction: row-reverse;
    }

    .feedback-picture-wrapper,
    .feedback-container-wrapper{
      width: 50vw; 
    }
    .feedback-bg{
      height: auto;
      width: 100%;
    }

    .number-square{
      position: absolute;
      top: 21.98vh;
      left: 45.63vw;
      width: 8.75vw;
      height: 8.07vw;
      margin: 0; 
    }
    .number-square .numbering{
      font-size: 24px;
    }
    .feedback .numbering::after{
      width: 27.3px;
      height: 5px;
      margin-top: 0;
    }
    .feedback .small-numbering::after{
      width: 26px;
    }
    .feedback-description{
      padding-top: 27.08vh;
    }
    .feedback-title{
      font-size: 4.17vw;
    }
    .feedback-text{
      font-size: 1.25vw;
      line-height: 1.17;
      letter-spacing: 1.2px;
      margin-top: 11.67vh;
    }
    .feedback-text:nth-child(2){
      margin-top: 7.81vh;
    }

    
    /* footer */
    .footer{
      padding-top: 23.85vh;
      padding-bottom: 5.42vh;
      }
    .footer-wrapper{
      display: flex;
      justify-content: center;
    }
    .footer-logo-top{
      width: 6.77vw;
      height: 14.27vh;
      margin: 0;
      border-radius: 30px;
    }

    .footer-logo-svg{
      width: 5.47vw;
      height: 9.06vh;
    }
    .footer-description{
      margin-top: 2.08vh;
      margin-left: 1.93vw;
      text-align: left;
    }
    .footer-title{
      font-size: 4.17vw;
      letter-spacing: 4px;
      line-height: 60px;
    }
    .footer-text{
      font-size: 1.56vw;
      margin-top: 1.58vh;
      line-height: 34.49px;
    }
    .footer .download_links{
      margin-top: 16.98vh;
    }
    .footer .logo{
      margin-top: 27.29vh;
    }
      }
